{include file='common/style'}
<title>新增图片</title>
<link href="/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="page-container">

		<form class="form form-horizontal" id="form">
			<input type="text" class="input-text hidden" value="{$category_id}" placeholder="" name="category_id">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品编号：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" readonly="readonly" value="{$good_spu_id}" placeholder=""
						id="" name="good_name">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$good_name}" placeholder="" id="" name="good_name">
				</div>
			</div>


			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">销售开始时间：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" value="{$gmt_up|date='Y-m-d H:i:s'}"
						onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{\$dp.\$D(\'datemax\')||\'%y-%M-%d\'}' })"
						name="datemin" id="datemin" class="input-text Wdate" style="width:180px;">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">销售结束时间：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" value="{$gmt_down|date='Y-m-d H:i:s'}"
						onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{\$dp.\$D(\'datemin\')}' })"
						id="datemax" name="datemax" class="input-text Wdate" style="width:180px;">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">产品描述：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<textarea name="good_desc" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符"
						datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！"
						onKeyUp="$.Huitextarealength(this,200)">{$good_desc}</textarea>
					<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">后台缩略图：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div class="uploader-thum-container">


						<span class="btn-upload form-group">
							<input class="input-text upload-url" type="text" name="" id="brand_logo1"
								placeholder="png格式图片" readonly style="width:140px">
							<a href="javascript:void();" class="btn btn-primary upload-btn"><i
									class="Hui-iconfont">&#xe642;</i> 上传logo</a>
							<input type="file" multiple name="brand_logo" class="input-file">
						</span>
					</div>
				</div>
			</div>
			
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button onClick="product_add();" class="btn btn-primary radius" type="button">
						<i class="Hui-iconfont">&#xe632;</i> 提交</button>
					<button onClick="layer_close();" class="btn btn-default radius"
						type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>


	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.min.js"></script>
	<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
	<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
	<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript">
		function product_add() {
			var formData = new FormData($('#form')[0]);
			$.ajax(
				{
					url: 'productListAddAct',
					data: formData,
					type: 'POST',
					dataType: 'json',
					processData: false,
					contentType: false,
					success: function (result) {
						alert(result);
					},
					error: function (result) {
						layer.msg('服务出现问题，请稍后再试', { icon: 1, time: 1111 });
					}
				});
		}

	</script>
</body>

</html>